<doctype html>

<html>
<head>
<meta charset"utf-8"/>
<title>FORMULAIRE</title>

</head>
<body>
<form method="post" action="traitement.php"> 
<p>
<label>Votre pseudo</label> : <input type="text" name = 	"pseudo"/>
<label> Votre Mot de passe</label> : <input type ="text" name="mdp"/>
</p>
		
</form>
</body>
</html>
